.modal {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.project-form-modal {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  background-color: #4E4E4E;
  box-shadow: 3px 3px 8px #1F1F1F;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.project-inputs {
  display: flex;
  flex-direction: column;
}

.set-favorite {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cancel {
  border: none;
  height: 20px;
  width: auto;
  background-color: #DE3C4B;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.cancel:hover {
  cursor: pointer;
  background-color: #f14d5d;
}
