.pre-task-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: ease .5s
}

.post-task-form {
  border: 1px solid rgb(117, 117, 117);
  border-radius: 8px;
  padding: 8px;
  margin: 6px;
  overflow: auto;
  transition: ease .5s
}

.task-td-edit {
  border-bottom: 1px solid rgb(117, 117, 117);
  margin-bottom: 12px;
}

.task-inputs>textarea {
  border-radius: 8px;
  min-width: 97%;
  max-width: 97%;
  min-height: 150px;
  max-height: 250px;
  margin-bottom: 8px;
  background-color: rgb(54, 54, 54);
  color: #e0e0e0;
}

.task-inputs>input {
  margin-bottom: 8px;
}

.task-title-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.edit-task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-title-edit>input {
  margin-right: 10px;
  height: 30px;
  width: 300px;
  font-size: 20px;
}

.description-edit {
  margin-top: 40px;
  background-color: rgb(54, 54, 54);
  color: #e0e0e0;
  border-radius: 8px;
  min-width: 98%;
  max-width: 98%;
  min-height: 175px;
  max-height: 350px;
}

.date-edit {
  margin-top: 50px;
  width: 200px;
}

.cancel {
  margin-right: 8px;
}

.primary {
  margin-top: 4px;
  padding: 2px;
  text-align: center;
  background: #00CAA9;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  width: 40px;
}

.danger {
  margin-top: 4px;
  padding: 2px;
  text-align: center;
  background: #FF5555;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  width: 40px;
}
