/* @font-face {
  font-family: 'Hind';
  src: local('Hind'), url(./fonts/Hind-Regular.ttf), format('truetype');
} */

body {
  background-color: #3E3E3E;
  font-family: Arial, Helvetica, sans-serif;
  color: #DFDFDF;
}

a {
  color: #dfdfdf;
}

* {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #00CAA9;
  align-items: center;
  width: 100vw;
  height: 50px;
}

.auth-user-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unauth-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unauth-nav>a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.active {
  margin-left: 10px;
  margin-right: 10px;
}

.unauth-nav>img {
  height: 40px;
  width: auto;
}

.logout-button {
  border: 1px solid white;
  background-color: #00CAA9;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 20px;
}

.logout-button:hover {
  background-color: #17e9c6;
}

.demo-login {
  margin-right: 10px;
  border: 1px solid white;
  background-color: #00CAA9;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

nav>div>a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.auth-user-nav>img {
  height: 40px;
  width: auto;
}

input {
  color: #DFDFDF;
  height: 25px;
  border-style: hidden;
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  border: 1px solid rgb(117, 117, 117);
}

::placeholder {
  color: #888888
}

select {
  height: 25px;
  border-style: hidden;
  background-color: #3E3E3E;
  border-radius: 5px;
  color: darkgray
}

::-webkit-scrollbar {
  max-width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: #303030;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: #00CAA9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7adbcb;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 96vw;
  background-color: rgb(36, 36, 36);
  height: 10.6vh;
  justify-content: space-around;
}

.dev-links {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.tasky-description {
  font-size: 14px;
  width: 200px;
  text-align: center;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-images {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.tech-images>img {
  max-height: 40px;
  width: auto;
}

.add {
  border: none;
  height: 20px;
  width: auto;
  background-color: #00CAA9;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 8px;
}

.add:hover {
  background-color: #17e9c6;
}
