/* @font-face {
  font-family: 'Hind';
  src: local('Hind'), url(./fonts/Hind-Regular.ttf), format('truetype');
} */

body {
  background-color: #3E3E3E;
  font-family: Arial, Helvetica, sans-serif;
  color: #DFDFDF;
}

a {
  color: #dfdfdf;
}

* {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #8EEADB;
  align-items: center;
  height: 50px;
}

.unauth-nav>a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav>div>a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav>img {
  height: 40px;
  width: auto;
}

input {
  height: 25px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #3E3E3E;
}

::placeholder {
  color: #888888
}

select {
  height: 25px;
  border-style: hidden;
  background-color: #3E3E3E;
  border-radius: 5px;
  color: darkgray
}

::-webkit-scrollbar {
  max-width: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: #8EEADB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7adbcb;
}
