.add-false {
  border: none;
  height: 20px;
  width: auto;
  background-color: #00CAA9;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.add-false:hover {
  cursor: pointer;
  background-color: #17e9c6;
}

.add-true {
  border: none;
  height: 20px;
  width: auto;
  background-color: #1f1f1f;
  color: #757575;
  font-weight: 500;
  border-radius: 5px;
}

.add-true:hover {
  cursor: not-allowed;
}

.save-false {
  border: none;
  height: 20px;
  width: auto;
  background-color: #E69600;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.save-true {
  border: none;
  height: 20px;
  width: auto;
  background-color: #1f1f1f;
  color: #757575;
  font-weight: 500;
  border-radius: 5px;
}

#label-iridescent {
  -webkit-background-clip: text;
  text-decoration: none;
  background-clip: text;
  /* color: transparent; */
  animation: colorRotate 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }

  10% {
    color: #ffa1c5;
  }

  50% {
    color: #fdf4a5;
  }

  75% {
    color: #d481f5;
  }

  100% {
    color: #6666ff;
  }
}

#label-default {
  color: #B4B4B4
}

#label-brick {
  color: #88292F;
}

#label-baby {
  color: #FCB2A9;
}

#label-sea {
  color: #2E8B57;
}

#label-cherry {
  color: #F85329;
}

#label-pastel {
  color: #FDFD96;
}

#label-mint {
  color: #65FFEC;
}

#label-bright {
  color: #CE9EFF;
}

#label-reserved {
  color: #D36135;
}

#label-perfect {
  color: #D7B9D5;
}

#label-crawling {
  color: #CADF9E;
}

#label-dry {
  color: #D0E1D4;
}

#label-ghost {
  color: #E4DEE4;
}

#label-deep {
  color: #E5B181;
}

#label-black {
  color: #5E697F;
}

#label-mellow {
  color: #FFB86F;
}

/* .lv-taskform-ddp>textarea {} */
