.tasks-due-today {
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 20px;
  width: 70vw;
  max-height: 25vh;
}

.task-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  max-height: 22vh;
  width: 96%;
  overflow: auto;
}

.task-splash-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 175px;
  max-width: 175px;
  min-height: 20px;
  max-height: 80px;
  border: 1px solid #757575;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #00CDAA;
  transition: .4s;
}

.check-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-splash-card:hover {
  box-shadow: 3px 3px 4px #1f1f1f;
}

.task-card-details {
  display: flex;
  flex-direction: column;
}

.today-link {
  margin-left: 8px;
  font-style: italic;
  color: #00CDAA;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overdue-due-today {
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 20px;
  width: 70vw;
  max-height: 25vh;
}

.overdue-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  max-height: 22vh;
  width: 96%;
  overflow: auto;
}

.overdue-today-link {
  margin-left: 8px;
  font-style: italic;
  color: #DE3C4B;
  text-decoration: none;
}
