.task-view {
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 60vw;
  max-height: 60vh;
  margin-left: 4vw;
  margin-top: 45px;
  border: 1px solid #757575;
  border-radius: 10px;
}

.task-heading-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #757575;
  margin-bottom: 20px;
}

.task-locale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-locale {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-locale>div {
  margin-left: 12px;
  margin-right: 8px;
}

.task-description {
  margin-top: 40px;
  font-size: 17px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.project-return {
  margin-top: 70px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 140px;
  border-radius: 10px;
  background-color: rgb(0, 202, 169);
}

.date {
  margin-top: 20px;
  margin-left: 20px;
}

.label-link-iridescent {
  -webkit-background-clip: text;
  text-decoration: none;
  background-clip: text;
  /* color: transparent; */
  animation: colorRotate 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }

  10% {
    color: #ffa1c5;
  }

  50% {
    color: #fdf4a5;
  }

  75% {
    color: #d481f5;
  }

  100% {
    color: #6666ff;
  }
}

.label-link-mellow {
  margin-left: 4px;
  text-decoration: none;
  color: #FFB86F;
  transition: .4s ease-in
}

.label-link-mellow:hover {
  border-bottom: 1px solid #FFB86F;
}

#label-mellow {
  color: #FFB86F;
}

.label-link-sea {
  margin-left: 4px;
  text-decoration: none;
  color: #2E8B57;
  transition: .4s ease-in
}

.label-link-sea:hover {
  border-bottom: 1px solid #2E8B57;
}

#label-sea {
  color: #2E8B57;
}

#trash {
  text-align: center;
}
